<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>OdinEye</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="analyze-area">
        <textarea id="ipInput" class="analyze-area__ip-input" placeholder="ip"></textarea>
        <button type="button" id="runButton" class="analyze-area__run-button">Analyze</button>
        <button type="button" id="runDebugButton" class="analyze-area__run-debug-button">Debug</button>
        <label>
            <input id="depth" type="text" placeholder="Depth 0-3" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
        </label>
    </div>
    <div id="settingsMenu" class="settings">
    </div>
    <div id="analysisResults" class="analysis-results"></div>
    <script src="{{ url_for('static', filename='js/api.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/debug.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/render.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}" type="module"></script>
</body>
</html>